<p id="notice"><%= notice %></p>

<h1>File Details</h1>

<p>
  <strong>Title:</strong>
  <%= @video.title %>
</p>

<p>
  <strong>Year:</strong>
  <%= @video.year %>
</p>

<p>
  <strong>Length:</strong>
  <%= @video.length %>
</p>

<p>
  <strong>Medium ID:</strong>
  <%= @video.dvd_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @video.comment %>
</p>

<button type="button" class="bttn"><%= link_to 'Edit File', edit_dvd_video_path(@dvd, @video) %></button>
<button type="button" class="bttn"><%= link_to 'Show All Files', dvd_videos_path %></button><br>


